@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the integrated UI */
.bold-outline {
  border: 1.5px solid #222222;
}

.bold-shadow {
  box-shadow: 2.5px 2.5px 0px #222222;
}

.bold-shadow-active {
  box-shadow: 0.5px 0.5px 0px #222222;
  transform: translate(2px, 2px);
}

.pixel-font {
  font-family: 'Press Start 2P', cursive;
}
